<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">

    {{!-- google fonts --}}
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
   <div class="main-content">
        
          {{>header}}
          <h1>{{error}}</h1>

          <img src="https://learn.getgrav.org/user/pages/11.troubleshooting/01.page-not-found/error-404.png" alt="">
   </div>

    {{>footer}}
</body>
</html>