<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="\image\weather.png">
    <title>About</title>
    {{!-- google fonts --}}
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="main-content">
          {{>header}}

          <img class="my-picture" src="\image\myPicture.jpg" alt="">
          <br>
          {{name}}
          <br>
          Web Developer
  </div>


    {{>footer}}
</body>

</html>