<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Home page</title>
    

    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="\image\weather.png">
    {{!-- google fonts --}}
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-content">
         {{>header}}
         <p>Check daily weather updates!</p>
         <form action="" >
             <input type="text" name="" id="" placeholder="Location">
             <button>search</button>

             <p id="message-1"></p>
             <p id="message-2"></p>
         </form>
    </div>
    
    
    {{>footer}}

    <script src="/javascript/javascript.js"></script>
</body>
</html>