

<header>

   <h1><span class="violet">W</span><span class="indigo">e</span><span class="blue">a</span><span class="green">t</span><span class="yellow">h</span><span class="orange">e</span><span class="red">r</span></h1>
   

   <a href="/">Weather</a>
   <a href="/about">About</a>
   <a href="/help">Help</a>


</header>
   
  
